.issue-content-container {
  width: 100%;
  margin-left: 10px;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.embedded-html {
  width: 100%;
  float: left;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;}
